<clr-main-container>
  <clr-header class="header-6">

    <div class="branding">
      <a href="#" class="nav-link">
        <clr-icon shape="cloud-traffic"></clr-icon>
        <span class="title">Restoring data</span>
      </a>
    </div>



    <div class="header-nav" [clr-nav-level]="1">
      <div>

        <a class="nav-link" href="#" [routerLink]="['/table-list']" routerLinkActive="active">
          <span class="nav-text">Tables</span>
        </a>

      </div>
    </div>


  </clr-header>

  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>

