<!--4 cards with common info-->
<div class="clr-row">
  <div class="clr-col-lg-3">
    <div class="card">
      <div class="card-header" style="font-size: 190%">
        <clr-icon shape="redo"></clr-icon>
        Восстановлены
      </div>
      <div class="card-block">
        <div class="card-title" style="font-size: 180%">
          Объекты: {{cardsData.restored}}
        </div>
        <!--<div class="card-text">-->
          <!---->
        <!--</div>-->
      </div>
      <!--<div class="card-footer">-->
        <!--<button class="btn btn-sm btn-link">Footer Action 1</button>-->
        <!--<button class="btn btn-sm btn-link">Footer Action 2</button>-->
      <!--</div>-->
    </div>
  </div>
  <!--second-->
  <div class="clr-col-lg-3">
    <div class="card">
      <div class="card-header" style="font-size: 190%">
        <clr-icon shape="login"></clr-icon>
        Записаны
      </div>
      <div class="card-block">
        <div class="card-title" style="font-size: 180%">
          Объекты: {{cardsData.logging}}
        </div>
        <!--<div class="card-text">-->
          <!---->
        <!--</div>-->
      </div>
      <!--<div class="card-footer">-->
        <!--<button class="btn btn-sm btn-link">Footer Action 1</button>-->
        <!--<button class="btn btn-sm btn-link">Footer Action 2</button>-->
      <!--</div>-->
    </div>
  </div>
  <!--third-->
  <div class="clr-col-lg-3">
    <div class="card">
      <div class="card-header" style="font-size: 190%">
        <clr-icon shape="table"></clr-icon>
        Активные таблицы
      </div>
      <div class="card-block">
        <div class="card-title" style="font-size: 180%">
          Таблицы: {{cardsData.tables}}
        </div>
        <!--<div class="card-text">-->
          <!---->
        <!--</div>-->
      </div>
      <!--<div class="card-footer">-->
        <!--<button class="btn btn-sm btn-link">Footer Action 1</button>-->
        <!--<button class="btn btn-sm btn-link">Footer Action 2</button>-->
      <!--</div>-->
    </div>
  </div>
  <!--fourth-->
  <div class="clr-col-lg-3">
    <div class="card">
      <div class="card-header" style="font-size: 190%">
        <clr-icon shape="hourglass"></clr-icon>
        Последнее событие {{cardsData.changed.toLocaleDateString()}}
      </div>
      <div class="card-block">
        <div class="card-title" style="font-size: 180%">
          Данные: {{cardsData.data}} {{cardsData.type_of}}
        </div>
        <!--<div class="card-text">-->
          <!---->
        <!--</div>-->
      </div>
      <!--<div class="card-footer">-->
        <!--<button class="btn btn-sm btn-link">Footer Action 1</button>-->
        <!--<button class="btn btn-sm btn-link">Footer Action 2</button>-->
      <!--</div>-->
    </div>
  </div>
</div>
<!--Second row table and chart-->
<div class="clr-row">
  <div class="clr-col-lg-8">
    <div class="card">
      <div class="card-header" style="font-size: 190%">
        Все действия
      </div>
      <div class="card-block">
        <clr-datagrid>
          <clr-dg-column style="font-size: 140%">Таблицы</clr-dg-column>
          <clr-dg-column style="font-size: 140%">Данные</clr-dg-column>
          <clr-dg-column style="font-size: 140%">Прежней</clr-dg-column>
          <clr-dg-column style="font-size: 140%">Событие</clr-dg-column>

          <clr-dg-row *clrDgItems="let actionData of allActionList" [clrDgItem]="actionData">
            <clr-dg-cell style="font-size: 130%">{{actionData.table_name}}</clr-dg-cell>
            <clr-dg-cell style="font-size: 130%">{{actionData.data}}</clr-dg-cell>
            <clr-dg-cell style="font-size: 130%">{{actionData.previous}}</clr-dg-cell>
            <clr-dg-cell style="font-size: 130%">{{actionData.action}}</clr-dg-cell>
          </clr-dg-row>
        </clr-datagrid>

      </div>
    </div>
  </div>
  <!------------------------------------------------------------------->
  <div class="clr-col-lg-4">
    <div class="card">
      <div class="card-header" style="font-size: 180%">
        Статистика активности
      </div>
      <div class="card-block">
        <div id="chartContainer"
        style="height: 370px;
        width: 100%;
        margin-left:auto;
        margin-right:auto;">
        </div>
      </div>

      <div class="card-footer">

        <clr-dropdown>
          <button type="button" class="dropdown-toggle btn btn-link" clrDropdownTrigger style="font-size: 140%">
            Временной интервал
            <clr-icon shape="caret up"></clr-icon>
          </button>

          <clr-dropdown-menu  clrPosition="top-right" *clrIfOpen>
            <h4 class="dropdown-header">Период</h4>
            <button type="button" class="dropdown-item">День</button>
            <button type="button" class="dropdown-item">Неделя</button>
            <button type="button" class="dropdown-item">Месяц</button>
          </clr-dropdown-menu>
        </clr-dropdown>

      </div>

    </div>
  </div>
</div>
