<p>
  table-list works!
</p>
<!--which table you want to see-->
<form clrForm [formGroup]="cFG">
  <clr-select-container>
    <select clrSelect required
            name="choseTableName"
            [formControl]="tableNameFC"
            [formControlName]="'tableNameFCN'">
      <option [selected]="'Select'" disabled [ngValue]="">Select table</option>
      <option [ngValue]="name" *ngFor="let name of tableName">{{name.name}}</option>
    </select>
    <clr-control-error>This field is required!</clr-control-error>
  </clr-select-container>
</form>
<!--Table for dynamic_model_data-->
<div class="row">
  <div class="col-lg-12">
    <clr-datagrid [(clrDgSelected)]="selectedObjectToRestore">
      <clr-dg-action-bar>
        <div class="btn-group">

          <button *ngIf="selectedObjectToRestore.length == 1"
                  type="button"
                  class="btn btn-sm btn-secondary"
                  (click)="onRestoreButton()">
            <clr-icon shape="close"></clr-icon>
            Restored
          </button>

        </div>
      </clr-dg-action-bar>

      <clr-dg-column>Field</clr-dg-column>
      <clr-dg-column>Data</clr-dg-column>
      <clr-dg-column>Previous</clr-dg-column>
      <clr-dg-column>Changed</clr-dg-column>
      <clr-dg-column>Logged</clr-dg-column>


      <clr-dg-row *clrDgItems="let data of dynamicTableData" [clrDgItem]="data">
        <clr-dg-cell>{{data.field}}</clr-dg-cell>
        <clr-dg-cell>{{data.data}}</clr-dg-cell>
        <clr-dg-cell>{{data.previous}}</clr-dg-cell>
        <clr-dg-cell>{{data.changed.toLocaleDateString()}}</clr-dg-cell>
        <clr-dg-cell>{{data.logged.toLocaleDateString()}}</clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>{{dynamicTableData.length}} Student</clr-dg-footer>
    </clr-datagrid>
  </div>
</div>


