<!--<div class="main-container">-->
<!--<div class="content-container">-->
<!--<div class="content-area">-->
<div class="clr-row">

  <div class="clr-col-lg-3">
    <div class="card">
      <div class="card-header" style="font-size: 230%">
        Выберите таблицу
      </div>
      <div class="card-block">
        <clr-tree-node *ngFor="let instance of tableName" style="font-size: 180%">
          <clr-icon shape="layers"></clr-icon>
          <div>{{instance.instance}}_</div>
          <span class="badge badge-blue">{{instance.models.length}}</span>
          <clr-tree-node *ngFor="let model of instance.models">
            <button
              (click)="sendModalNameToGetData(model)"
              class="clr-treenode-link">
              <clr-icon shape="table"></clr-icon>
              {{model.model}}
            </button>
          </clr-tree-node>

        </clr-tree-node>

      </div>
    </div>
  </div>


  <!--</nav>-->
  <div class="clr-col-lg-9">
    <div class="card">
      <div class="card-header">
        <div class="card-title" style="font-size: 180%">
          Таблица: {{tableNameFromSelect.model}}
        </div>
      </div>
      <div class="card-block">
        <!--<div class="btn-group" style="float: right">-->
          <button *ngIf="selectedObjectToRestore.length > 0"
                  type="button"
                  class="btn btn-outline"
                  (click)="onRestoreButton()"
                  style="font-size: 140%">
            <clr-icon shape="check-circle" style="font-size: 180%"></clr-icon>
            Восстановить
          </button>

          <clr-dropdown >
            <button type="button" class="dropdown-toggle btn btn-outline" clrDropdownTrigger style="font-size: 140%">
              <clr-icon shape="justify-text"></clr-icon>
              Количество строк
              <clr-icon shape="caret down"></clr-icon>
            </button>

            <clr-dropdown-menu  clrPosition="bottom-right" *clrIfOpen>
              <h4 class="dropdown-header" style="float: right">Строки</h4>
              <button type="button" class="dropdown-item" >10</button>
              <button type="button" class="dropdown-item" >50</button>
              <button type="button" class="dropdown-item" >100</button>
            </clr-dropdown-menu>
          </clr-dropdown>
        <!--</div>-->
      </div>

      <div class="card-block">

        <clr-datagrid [(clrDgSelected)]="selectedObjectToRestore">
          <!--<clr-dg-action-bar>-->
            <!--<div class="btn-group">-->
              <!--<button *ngIf="selectedObjectToRestore.length > 0"-->
                      <!--type="button"-->
                      <!--class="btn btn-outline"-->
                      <!--(click)="onRestoreButton()">-->
                <!--<clr-icon shape="check-circle"></clr-icon>-->
                <!--Restored-->
              <!--</button>-->
            <!--</div>-->
            <!--<div style="float: right">-->
              <!--<clr-dropdown >-->
                <!--<button type="button" class="dropdown-toggle btn btn-outline" clrDropdownTrigger>-->
                  <!--Display rows-->
                  <!--<clr-icon shape="caret down"></clr-icon>-->
                <!--</button>-->

                <!--<clr-dropdown-menu  clrPosition="bottom-right" *clrIfOpen>-->
                  <!--<h4 class="dropdown-header" style="float: right">Time interval</h4>-->
                  <!--<button type="button" class="dropdown-item" >10</button>-->
                  <!--<button type="button" class="dropdown-item" >50</button>-->
                  <!--<button type="button" class="dropdown-item" >100</button>-->
                <!--</clr-dropdown-menu>-->
              <!--</clr-dropdown>-->
            <!--</div>-->
          <!--</clr-dg-action-bar>-->

          <clr-dg-placeholder>Таблица не заполненна или не выбрана!</clr-dg-placeholder>

          <clr-dg-column style="font-size: 150%">
            <ng-container *clrDgHideableColumn="{hidden:false}">Поле</ng-container>
          </clr-dg-column>
          <clr-dg-column style="font-size: 150%">Данные</clr-dg-column>
          <clr-dg-column style="font-size: 150%">Прежнее значение</clr-dg-column>
          <clr-dg-column style="font-size: 150%">
            <ng-container *clrDgHideableColumn="{hidden:false}">Изменено</ng-container></clr-dg-column>
          <clr-dg-column style="font-size: 150%">
            <ng-container *clrDgHideableColumn="{hidden:false}">Записан</ng-container>
          </clr-dg-column>

          <clr-dg-row *clrDgItems="let data of dynamicTableData" [clrDgItem]="data">
            <clr-dg-cell style="font-size: 150%">{{data.field}}</clr-dg-cell>
            <clr-dg-cell style="font-size: 150%">{{data.data}}</clr-dg-cell>
            <clr-dg-cell style="font-size: 150%">{{data.previous}}</clr-dg-cell>
            <clr-dg-cell style="font-size: 150%">{{data.changed.toLocaleDateString()}}</clr-dg-cell>
            <clr-dg-cell style="font-size: 150%">{{data.logged.toLocaleDateString()}}</clr-dg-cell>
          </clr-dg-row>

          <clr-dg-footer style="font-size: 180%">
            <clr-dg-column-toggle>
              <clr-dg-column-toggle-title>Текущая информация!</clr-dg-column-toggle-title>
              <clr-dg-column-toggle-button>Все столбцы</clr-dg-column-toggle-button>
            </clr-dg-column-toggle>

            Количество элементов:{{dynamicTableData.length}}
          </clr-dg-footer>
        </clr-datagrid>

      </div>
    </div>
  </div>
</div>


<!--<nav class="sidenav">-->


<!--</div>-->
<!--</div>-->

<!----------------------------------------------------------------------------------------------------------------------->

<!--<div class="clr-row">-->

<!--<div class="clr-col-lg-3">-->
<!--<clr-tree-node *ngFor="let instance of tableName">-->
<!--&lt;!&ndash;<clr-icon [attr.shape]="directory.icon"></clr-icon>&ndash;&gt;-->
<!--{{instance.instance}}-->
<!--&lt;!&ndash;<ng-template [(clrIfExpanded)]="directory.expanded">&ndash;&gt;-->

<!--<clr-tree-node *ngFor="let model of instance.models">-->
<!--<button-->
<!--(click)="sendModalNameToGetData(model)"-->
<!--class="clr-treenode-link">-->
<!--&lt;!&ndash;<clr-icon [attr.shape]="file.icon"></clr-icon>&ndash;&gt;-->
<!--{{model.model}}-->
<!--</button>-->
<!--</clr-tree-node>-->

<!--&lt;!&ndash;</ng-template>&ndash;&gt;-->
<!--</clr-tree-node>-->
<!--</div>-->

<!--<div class="clr-col-lg-9">-->
<!--<clr-datagrid [(clrDgSelected)]="selectedObjectToRestore">-->
<!--<clr-dg-placeholder>The table is still empty or not selected!</clr-dg-placeholder>-->

<!--<clr-dg-column>-->
<!--<ng-container *clrDgHideableColumn="{hidden:false}">Field</ng-container>-->
<!--</clr-dg-column>-->
<!--<clr-dg-column>Data</clr-dg-column>-->
<!--<clr-dg-column>Previous</clr-dg-column>-->
<!--<clr-dg-column>-->
<!--<ng-container *clrDgHideableColumn="{hidden:false}">Changed</ng-container></clr-dg-column>-->
<!--<clr-dg-column>-->
<!--<ng-container *clrDgHideableColumn="{hidden:false}">Logged</ng-container>-->
<!--</clr-dg-column>-->

<!--<clr-dg-row *clrDgItems="let data of dynamicTableData" [clrDgItem]="data">-->
<!--<clr-dg-cell>{{data.field}}</clr-dg-cell>-->
<!--<clr-dg-cell>{{data.data}}</clr-dg-cell>-->
<!--<clr-dg-cell>{{data.previous}}</clr-dg-cell>-->
<!--<clr-dg-cell>{{data.changed.toLocaleDateString()}}</clr-dg-cell>-->
<!--<clr-dg-cell>{{data.logged.toLocaleDateString()}}</clr-dg-cell>-->
<!--</clr-dg-row>-->

<!--<clr-dg-footer>-->
<!--<clr-dg-column-toggle>-->
<!--<clr-dg-column-toggle-title>Current Info!</clr-dg-column-toggle-title>-->
<!--<clr-dg-column-toggle-button>All items!</clr-dg-column-toggle-button>-->
<!--</clr-dg-column-toggle>-->
<!--<div class="btn-group">-->
<!--<button *ngIf="selectedObjectToRestore.length > 0"-->
<!--type="button"-->
<!--class="btn btn-sm btn-secondary"-->
<!--(click)="onRestoreButton()">-->
<!--<clr-icon shape="check-circle"></clr-icon>-->
<!--Restored-->
<!--</button>-->
<!--</div>-->

<!--&lt;!&ndash;<span class="label">Select table</span>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="clr-select-wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;<select id="select-basic" class="clr-select" [(ngModel)]="tableNameFromSelect" (ngModelChange)="sendModalNameToGetData()" required="">&ndash;&gt;-->
<!--&lt;!&ndash;<option [ngValue]="name"*ngFor="let name of tableName">{{name.name}}</option>&ndash;&gt;-->
<!--&lt;!&ndash;</select>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--{{dynamicTableData.length}} Items-->
<!--</clr-dg-footer>-->
<!--</clr-datagrid>-->
<!--</div>-->


<!--</div>-->
